<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel=stylesheet type="text/css" href="/css/board.css">

<style>

    .top{
        margin-top : 10px;
    }
    .member-name-link{
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
<div class="top"></div>
<div class="grid-container">
<div class="left"></div>
<div class="center">
<div class="container">

    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <span th:each="member : ${members}">
                <div class="member-name-link">
                <a th:text="${member.name}" th:href="@{'/members/memberPage/'+ ${member.no}}"></a>

                </div>


            </span>
            </tbody>
        </table>
    </div>
</div>

</div>
<div class="right"></div>
</div>