<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav class="navbar bg-light">
        <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"href="/questions/tagList?tags=pawnable">Pawnable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions/tagList?tags=rev">Reversing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions/tagList?tags=web">Web</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions/tagList?tags=crypto">Crypto</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
            <a class="navbar-brand" href="/members/new">회원 가입</a>
            <a class="navbar-brand" href="/members">회원 목록</a>
            <a class="navbar-brand" href="/questions/new">질문 작성</a>
            <a class="navbar-brand" href="/questions/questionList">질문리스트</a>
        <form class="d-flex" role="search" action="/search"     style="display:flex; background-color: beige;"  method="post">
                <input type="text" name="search" placeholder="Search"/>
                <button type="submit" >Go</button>
            </form>
    </nav>

    </div>
    </nav>
</div>
</body>
</html>