<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet"type="text/js" href="/js/board.js">
<link rel="stylesheet" href="/css/bootstrap.css">
<head> <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/top.js"></script>
</head>
<style>
    .nav-item .nav-link {
        color: gray;
    }
    .container-fluid .navbar-brand{
        color: gray;
    }
</style>
<body>
<div class="top" style="background-color: #20c997">

</div>
<div class="gap"></div>



<div class="grid-container">
    <div class="left">
        <div class="dropdown">
            <button class="dropbtn" type="button">
                 <span
                         class="dropbtn_icon">Tags</span>
            </button>
            <ul class="dropdown-content">
                <li><a href="/questions/tagList?tags=C">C</a></li>
                <li><a href="/questions/tagList?tags=Pawnable">Pawnable</a></li>
                <li><a href="/questions/tagList?tags=Reversing">Reversing</a></li>
                <li><a href="/questions/tagList?tags=Web">Web</a></li>
                <li><a href="/questions/tagList?tags=Crypto">Crypto</a></li>
            </ul>
        </div>
    </div>
    <div class="center">
        <div id="container_1">
            <div class="card" style="background-color: rgba(63, 151, 155, 0.62);">
                <img  src="https://dreamhack.io/assets/img/rank_1.a680c13.svg"  style="width: 40px;height: 85px;" alt="1등">
                <div class="words">
                    <h3 style="color:#fff">실시간 채택왕</h3>
                    <p style="font-size: large;
        font-style:inherit; font-weight:bold;
       "th:text="${answerKings.getName()}"></p>
                    <p style="font-size: large;
        font-style:inherit; font-weight:bold;
       "th:text="${answerKings.getScore()}+'점'"></p>
                </div>
                <div class="image">
<img src="https://avatars.githubusercontent.com/u/102720771?v=4" style="width:80%; height:80%;">
                </div>
            </div>
            <div class="card" style="background-color: rgba(63, 151, 100, 0.62);">
                <img  src="https://dreamhack.io/assets/img/rank_1.a680c13.svg"  style="width: 40px;height: 85px;" alt="1등">
                <div class="words">
                    <h3 style="color:#fff">실시간 질문왕</h3>
                    <p style="font-size: large;
        font-style:inherit; font-weight:bold;
       "th:text="${askKings.getName()}"></p>
                    <p style="font-size: large;
        font-style:inherit; font-weight:bold;
       "th:text="${askKings.getAsk.size()}+'개'"></p>
                </div>
                <div class="image">
                    <img src="https://avatars.githubusercontent.com/u/102720771?v=4" style="width:80%; height:80%;">
                </div>
            </div>
            <div class="card" style="background-color: rgba(50, 151, 100, 0.62);">
                <img  src="https://dreamhack.io/assets/img/rank_1.a680c13.svg"  style="width: 40px;height: 85px;" alt="1등">
                <div class="words">
                    <h3 style="color:#fff">실시간 보안왕</h3>

                </div>
            </div>
    <div class="right"></div>
    </div>


</div>
</div>



</body>
</html>