<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/board.css">
<!--<link rel="stylesheet" type="text/css" href="/css/questionList.css">-->
<head> <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/top.js"></script>
</head>
<style>
   .contents{

        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;


       height: 30px;

    }
</style>
<body>
<div class="top">


</div>
<div class="gap"></div>
<div class="grid-container">
    <div class="left">
        <div class="dropdown">
            <button class="dropbtn" type="button">
                 <span
                         class="dropbtn_icon">Tags</span>
            </button>
            <ul class="dropdown-content">
                <li><a href="/questions/tagList?tags=C">C</a></li>
                <li><a href="/questions/tagList?tags=Pawnable">Pawnable</a></li>
                <li><a href="/questions/tagList?tags=Reversing">Reversing</a></li>
                <li><a href="/questions/tagList?tags=Web">Web</a></li>
                <li><a href="/questions/tagList?tags=Crypto">Crypto</a></li>
            </ul>
        </div>
    </div>
<div class="center">
<div class="container">
    <div>



            <br>

            <span th:each="ask : ${asks}">
                <div class="questionList">
                    <a th:text="${ask.title}" th:href="@{'/questions/'+ ${ask.no}}" class="title"></a>

                <span class="text-danger small ms-2"
                      th:if="${#lists.size(ask.comment) > 0}"
                   th:text="${#lists.size(ask.comment)}"></span>

                <p th:text="${ask.contents}" class="contents"></p>
                <p th:text="${ask.tags}" ></p>
                <p th:text="${ask.createdDate}" style="float: right"></p>
                <br>
                    <hr>

                </div>
            </span>


    </div>
</div>
</div>

<div class="right"></div>
</div>
</body>
</html>