<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<link rel="stylesheet" href="/static/css/board.css">

<style>

    div {
        display: block;
    }
    .reply {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid #ddd;
    }
    textarea {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
        background-color: #f2f2f2;
        resize: none;
    }
    textarea.wmd-input,textarea#wmd-input{
        padding: 10px;
        margin: -1px 0 0;
        height: 200px;
        line-height: 1.3;
        width: 98%;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
    }

    .selected {
        border: 2px solid yellow;
        padding: 10px;
    }
    .left{
        grid-column: 1/3;
    }
    .center {

        grid-column: 2 / 3; /* spans the second column */
    }
    .right {
        grid-column: 3/ 3; /* spans the third column */
    }
    .grid-container {
        display: grid;
        grid-template-columns: 20% 55% 25%; /* sets the width of each column */
    }
    .btn-group {
        display: flex;
    }
    .btn-group button, .btn-group form,li {
        display: inline-block;
    }
    .bottom-nav {
        display: flex;
        justify-content: space-between;
        background-color: #1a1e21;
        height: auto;
    }

    code {
        background-color: #f1f1f1;
        padding: 0.2em 0.4em;
        border-radius: 4px;
    }
    #answer-btn-bar button {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    #answer-btn-bar {
        clear: both;
        background-color: transparent;
        margin: 10px 0 0 0;
        padding: 0;
        width: 100%;
        border: 1px solid hsl(210,8%,75%);
        border-bottom: 0;
        min-height: 44px;
        overflow: hidden;
        z-index: 2;
        position: relative;
    }
    .answer-btn-row
    {
        padding: 0 4px 0 8px;
        margin: 0;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: 44px;
        border-bottom: 1px solid hsl(210,8%,75%);
    }


</style>
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>
<body>
<div class="grid-container">
<div class="left"></div>
<div class="center">
<th:block layout:fragment="content">
    <div class="container">
        <div>

            <h1 th:text="${asks.title}"></h1>
            <pre th:text="${asks.contents}"></pre>
            <p th:text="${asks.no}"></p>
            <p th:text="${asks.tags}"></p>


        </div>
    </div>

</th:block>
//save comment

<br/>
<div class="card">
    <div class="card-header">comment list</div>
    <ul calss="list-group">
        <li class="list-group-item d-flex">
            <span th:each="comment: ${comment}" th:if="${comment.selected==1}" >
                <div id="comment_box" class="selected">

                  <p th:text="${comment.getWriter().getName()}"></p>
                <p th:text="${comment.commentNo}"></p>
                   <pre th:utext="${@commonUtil.markdown(comment.reply)}" th:rows="4" ></pre>
                </div>
                  <hr>
                <br><br>
            </span>



                <span th:each="comment: ${comment}" th:if="${comment.depth==0}">




                            <p th:text="${comment.getWriter().getName()}"> writer:</p>
                            <p th:text="${comment.commentNo}"></p>

                     <pre th:utext="${@commonUtil.markdown(comment.reply)}" th:rows="4" id="answer"></pre>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">modify</button>
                    <form th:action="@{|/questions/comment/delete/${comment.commentNo}|}" th:if="${comment.getWriter().getNo()==1}">

                        <button type="submit" class="btn btn-primary">delete</button>
                    </form>


                        <form th:action="@{|/questions/comment/selected/${comment.commentNo}|}" method="post" th:if="${comment.getWriter().getNo()==1}">
                                <button type="submit" class="btn btn-primary">selected</button>
                        </form>

                         <form th:action="@{|/questions/comment/${asks.no}/reply|}" method="post" >
                            <input type="text" name="reply" placeholder="reply"/>
                            <input type="hidden" name="commentGroup" th:value="${comment.commentNo}"/>
                            <button type="submit" class="btn btn-primary">reply</button>
                        </form>
                    </div>

                    <span th:each="reply: ${reply}" th:if="${reply.commentGroup == comment.commentNo}" class="reply">

                    <div class="reply">
                        <p th:text="${reply.getWriter().getName()}"> writer:</p>
                            <p th:text="${reply.commentNo}"></p>
                        <p th:utext="${@commonUtil.markdown(reply.reply)}" th:rows="4"></p>



                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">modify</button>
                            <!--delete comment -->


                             <form th:action="@{|/questions/comment/delete/${reply.commentNo}|}" th:if="${reply.getWriter().getNo()==1}">
                                 <!-- th:if="${reply.getMember().getNo()==SesstionLogin}"> -->
                                 <button type="submit" class="btn btn-primary">delete</button>
                             </form>

                            <form th:action="@{|/questions/comment/selected/${reply.commentNo}|}" method="post" th:if="${reply.getWriter().getNo()==1}">
                                <button type="submit" class="btn btn-primary">selected</button>
                            </form>

                             <form th:action="@{|/questions/comment/${asks.no}/reply|}" method="post">
                                <input type="text" name="reply" placeholder="reply"/>
                                <input type="hidden" name="commentGroup" th:value="${reply.commentNo}"/>
                                <button type="submit" class="btn btn-primary">reply</button>
                            </form>
                        </div>
                    </div>

                     </span>
                      <hr>
            </span>


</li>
</ul>
    <div class="answer-box">
        <div id="answer-btn-bar" class="btn-group">
            <ul id="answer-btn-row" class="answer-btn-row">
                <button type="button" class="up-button" id="bold-button" title="Strong <strong> Ctrl+B">
                    <span style="background-position: 0px 0px;">B</span></button>
                <button class="up-button" id="italic-button" title="Emphasis <em> Ctrl+I">
                    <span style="background-position: -20px 0px;">I</span></button>
                <button class="up-button" id="link-button" title="Hyperlink <a> Ctrl+L">
                    <span style="background-position: -40px 0px;">L</span></button>
                <button class="up-button" id="quote-button" title="Blockquote <blockquote> Ctrl+Q">
                    <span style="background-position: -60px 0px;">"</span>
                </button>
                <button class="up-button" id="code-button" title="Code Sample <pre><code> Ctrl+K">
                    <span style="background-position: -80px 0px;">{}</span>
                </button>

                <button class="up-button" id="image-button" title="Image <img> Ctrl+G">
                    <span style="background-position: -100px 0px;">image</span>
                </button>

                <button class="up-button" id="snippet-button" title="JavaScript/HTML/CSS snippet Ctrl-M">
                    <span>snippet</span>
                </button>

            </ul>

        </div>
    <form th:action="@{|/questions/comment/${asks.no}|}" method="post" id="replySubmit">
        <div id="comment-write">
                <textarea id="wmd-input" name="reply" class="wmd-input s-input bar0 js-post-body-field processed"
                          data-editor-type="wmd" data-post-type-id="2" cols="92" rows="15"
                          aria-labelledby="your-answer-header" tabindex="101" data-min-length=""></textarea>

            <button type="submit">댓글 등록</button>
        </div>
    </form>

</div>


</div>
</div>
<div class="right"></div>
</div>
<div class="bottom-nav">
    <div>
        <p> k.knock</p>
        <p> k.knock</p>
        <p> k.knock</p>
        <p> k.knock</p>
        <p> k.knock</p>
    </div>


</div>
</body>
<script>





    let markdownText = document.getElementById("wmd-input").value;

    function marked(markdownText) {
        return "";
    }

    document.getElementById("wmd-input").innerHTML = marked(markdownText);
    document.getElementById("bold-button").addEventListener("click", function(){
        const editor = document.getElementById("wmd-input");
        const selectedText = editor.value.substring(editor.selectionStart, editor.selectionEnd);
        const newText = "**bold" + selectedText + "**";
        editor.value = editor.value.substring(0, editor.selectionStart) + newText + editor.value.substring(editor.selectionEnd);
    });
    document.getElementById("italic-button").addEventListener("click", function(){
        const editor = document.getElementById("wmd-input");
        const selectedText = editor.value.substring(editor.selectionStart, editor.selectionEnd);
        const newText = "*italic" + selectedText + "*";
        editor.value = editor.value.substring(0, editor.selectionStart) + newText + editor.value.substring(editor.selectionEnd);
    });
    document.getElementById("link-button").addEventListener("click", function(){
        let link = prompt("Enter the link here: ", "http://");
        document.execCommand("createLink", false, link);
    });
    document.getElementById("quote-button").addEventListener("click", function(){
        const editor = document.getElementById("wmd-input");
        const selectedText = editor.value.substring(editor.selectionStart, editor.selectionEnd);
        const newText = ">blockquotes" + selectedText;
        editor.value = editor.value.substring(0, editor.selectionStart) + newText + editor.value.substring(editor.selectionEnd);
    });
    document.getElementById("image-button").addEventListener("click", function() {
        const editor = document.getElementById("wmd-input");
        const imul = prompt("Enter the image URL: ");
        const newText = "![image](" + imul + ")";
        editor.value = editor.value.substring(0, editor.selectionStart) + newText + editor.value.substring(editor.selectionEnd);
    });
    document.getElementById("code-button").addEventListener("click", function() {
        const editor = document.getElementById("wmd-input");
        const selectedText = editor.value.substring(editor.selectionStart, editor.selectionEnd);
        const newText = "` <code> " + selectedText + "`";
        editor.value = editor.value.substring(0, editor.selectionStart) + newText + editor.value.substring(editor.selectionEnd);
    });
//엔터 인식
    document.getElementById("replySubmit").addEventListener("submit", function(event) {
        event.preventDefault();
        let markdownText = document.getElementById("wmd-input").value;

       /*let str = document.getElementById("wmd-input").value;
        console.log("hello");
        str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');

        document.getElementById("wmd-input").value = str;
        console.log(str);
*/

        function marked(markdownText) {
            return "";
        }

        document.getElementById("wmd-input").innerHTML = marked(markdownText);
        // form submit
        this.submit();

    });



</script>
<script type="text/javascript">
//<p id="reply" th:text="${asks.reply}"></p> 의 값 가져오기




    /*document.getElementById('hide_more_button').addEventListener("click", function() {
        document.getElementById('reply').style.display = 'none';
        document.getElementById('show_more_button').style.display = 'block';
        document.getElementById('hide_more_button').style.display = 'none';
        console.log("hide");
    });
    document.getElementById('show_more_button').addEventListener("click", function() {
        document.getElementById('reply').style.display = 'block';
        document.getElementById('show_more_button').style.display = 'none';
        document.getElementById('hide_more_button').style.display = 'block';
        console.log("hide");
    });*/
    if(document.getElementById('replyButton')) {
        document.getElementById('replyButton').addEventListener("click", function () {
            console.log("reply");
            const form = document.createElement("form");
            form.setAttribute("th:action", "@{|/questions/comment/${asks.no}/reply|}");
            form.setAttribute("method", "post");

            const textarea = document.createElement("textarea");
            textarea.setAttribute("name", "reply");
            textarea.setAttribute("class", "wmd-input s-input bar0 js-post-body-field processed");
            textarea.setAttribute("data-editor-type", "wmd");
            textarea.setAttribute("data-post-type-id", "2");
            textarea.setAttribute("cols", "92");
            textarea.setAttribute("rows", "15");
            textarea.setAttribute("aria-labelledby", "your-answer-header");
            textarea.setAttribute("tabindex", "101");
            textarea.setAttribute("data-min-length", "");

            const input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "commentGroup");
            input.setAttribute("th:value", "${comment.commentNo}");

            const button = document.createElement("button");
            button.setAttribute("type", "submit");
            button.setAttribute("class", "btn btn-primary");
            button.innerHTML = "답글등록";

            form.appendChild(textarea);
            form.appendChild(input);
            form.appendChild(button);

            document.getElementById("replyArea").appendChild(form);
        });
    }






</script>

</body>

</html>
